* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.red {
    color: #f00;
}

.blue {
    color: #007cdd;
}

#scores {
    text-align: center;
    font-size: 40px;
    margin-top: 5px;
}

#score-red {
    color: #f00;
    display: inline-block;
}

#score-blue {
    color: #007cdd;
    display: inline-block;
}

.mallet {
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: cover !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 40px;
}

#red-mallet {
    background: url('red_mallet.svg');
    left: 147px;
    top: 80px;
}

#blue-mallet {
    background: url('blue_mallet.svg');
    left: 147px;
    top: 500px;
}

.cover {
    position: absolute;
    background: white;
    width: 374px;
    left: 0;
    height: 330px;
    opacity: 0.9;
}

#red-cover {
    top: 0;
}

#blue-cover {
    top: 330px;
}

#puck {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.7);
    position: absolute;
    left: 162px;
    top: 305px;
    background: #ffd;
    border: 3px solid #dd9;
}

.floating {
    border-radius: 10px;
    padding: 15px;
    left: 10px;
    position: absolute;
    box-shadow: 3px 3px 3px #aaa;
    border: 1px solid #3b3b3b;
    background: white;
}

.floating p {
    margin-bottom: 10px;
}

#instructions {
    top: 70px;
    width: 200px;
    height: 350px;
}

#status {
    top: 470px;
    width: 200px;
    height: 30px;
}

.bold-heading {
    font-weight: bold;
    margin-bottom: 8px;
}

.button {
    position: relative;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #666;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: white;
    background: #999;
    margin-bottom: 10px;
}

.button:active {
    box-shadow: 0px 1px 0px #666 !important;
    top: 4px;
}

#join-red {
    background: #d00;
    box-shadow: 0px 5px 0px #900;
}

#join-blue {
    background: #007cdd;
    box-shadow: 0px 5px 0px #003a99;
}

#bottom {
    text-align: center;
}

#top-bar {
    height: 45px;
    width: 100%;
    background: #3b3b3b;
    box-shadow: 0 1px 5px #333;
    color: white;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

#container {
    /* Original resolution is 340px by 600px */
    width: 374px;
    height: 660px;
    background: url("table.svg");
    background-size: cover;
    margin: 5px auto;
    box-shadow: 5px 5px 5px #999;
    position: relative;
}